@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #89D4E2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  padding: 0 16px;
  height: 72px;
  background: #4C8D9B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 100%;
}

.menu-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.anchor {
  cursor: pointer;
  color: #CFEDF2;
  font-family: 'Fugaz One', cursive;
  font-size: 32px;
  margin-right: 16px;
  -webkit-text-stroke: 1px #276274;
}

.login-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.login-icon {
  cursor: pointer;
}

.main {
  width: 100%;
  height: calc(100vh - 72px);
  background: url(../img/casal-viajando-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container-logo {
  position: relative;
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  z-index: 2;
}

.title {
  position: absolute;
  z-index: 3;
  bottom: 5%;
  font-family: 'Fugaz One', cursive;
  color: #CFEDF2;
  -webkit-text-stroke: 1px #276274;
  font-size: 45px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFCE6A;
  opacity: 0.5;
}

.container-carousel {
  display: flex;
}

.title-vehicle-evaluation,
.car-title {
  margin-top: 32px;
  margin-left: 64px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

.car-title {
  font-size: 24px;
}

.carousel {
  margin-left: 64px;
  margin-top: 32px;
}

.car {
  margin-top: 32px;
  margin-left: 64px;
  cursor: pointer;
  width: 400px;
  display: none;
}

.car.active {
  display: flex;
}

.controls {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 64px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.control {
  cursor: pointer;
}

.container-comment {
  margin-left: 64px;
  flex-direction: column;
}

.user-comment {
  color: #276274;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

.container-avatar-comment {
  margin-top: 24px;
  height: 80px;
  display: flex;
  align-items: center;
}

.avatar {
  margin-top: 32px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.comment-icons {
  margin-left: 100px;
  margin-top: 40px;
}

.comment {
  margin-left: 16px;
  color: #276274;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}

.dislike,
.share,
.messenger {
  margin-left: 24px;
}